* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fff;
  /* font-family: "Lexend Deca", sans-serif; */
}

main div {
  height: 450px;
  padding: 25px;
  width: 250px;
}

h2 {
  font-size: 32px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  padding-top: 20px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  padding-top: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxSedan {
  background: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}

.boxSuv {
  background: hsl(184, 100%, 22%);
}

.boxLuxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}

img {
  padding-top: 30px;
}

button {
  background: hsl(0, 0%, 95%);
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  margin-top: 100px;
}

button:hover {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: white;
  background: hsla(0, 0%, 95%, 0);
}

.btnone {
  color: hsl(31, 77%, 52%);
}

.btntwo {
  color: hsl(184, 100%, 22%);
}

.btnthree {
  color: hsl(179, 100%, 13%);
}

header {
  margin-bottom: 20px;
}

/* media queries */

@media screen and (max-width: 375px) {
  body {
    height: 200vh;
    margin: 50px 0;
  }

  header {
    display: block;
  }
  main {
    width: 100%;
    display: block;
  }
}
